/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/cover.scss";
@import "./blocks/catalog.scss";
@import "./blocks/how-work.scss";
@import "./blocks/example.scss";
@import "./blocks/address.scss";
@import "./blocks/catalog-products.scss";
@import "./blocks/additional.scss";
@import "./blocks/offers.scss";
@import "./blocks/footer.scss";
