.additional {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.additional__wrapper {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 786px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.additional__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  margin: 25px auto 36px 0;
  padding-left: 20px;
  background-color: #ffffff;
  width: 286px;

  &::before {
    content: "";
    z-index: -1;
    background-color: #68b738;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: 35px;

    @media (min-width: $tablet-width) {
      top: 88px;
    }

    @media (min-width: $desktop-width) {
      top: 89px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin: 74px auto 80px 40px;
    padding: 0 40px;
    text-align: center;
    width: 381px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 71px 844px 80px 67px;
    width: 460px;
  }
}

.additional__list {
  display: grid;
  grid-template-columns: 280px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 708px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 895px;
    margin: 0 0 0 111px;
  }
}

.additional__item {
  list-style-type: none;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-bottom: 1px solid #cdcdcd;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }
}

.additional__title-card {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 0;
  margin-top: 12px;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 26px;
    margin-left: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
    margin-left: 0;
    margin-bottom: 25px;
  }
}

.additional__mixing {
  display: flex;
  margin: 13px auto 15px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-right: 40px;
    margin-top: 29px;
    margin-bottom: 0;
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 42px;
    width: 283px;
  }
}

.additional__text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &--first {
      transform: translateX(66px);
    }

    &--third {
      transform: translateX(84px);
    }

    &--last {
      transform: translateX(10px);
    }
  }

  @media (min-width: $desktop-width) {
    &--first {
      transform: none;
    }

    &--third {
      transform: none;
    }

    &--last {
      transform: none;
    }

    &--second {
      transform: translateX(-9px);
    }
  }
}

.additional__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #68b738;
  padding: 10px 109px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 19px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: #5eaa2f;
    outline: none;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 285px;
    margin: 20px 38px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 92px;
    margin: 15px 0 17px;
  }
}

.additional__promo {
  width: 280px;
  height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
  margin: 35px auto 0;
  background-image: url("../../images/select-all-image@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/select-all-image@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 707px;
    height: 200px;
    margin: 68px auto 79px;
    background-image: url("../../images/select-all-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/select-all-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    margin: 0;
    margin-left: 80px;
    margin-top: 0;
    background-image: url("../../images/select-all-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/select-all-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.additional__select-all {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    display: flex;
    padding: 0;
    text-align: left;
    width: 505px;
    margin: 71px 125px 0 77px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    text-align: center;
    margin: 56px 42px;
  }

  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#present-icon");
    background-repeat: no-repeat;
    background-size: 78px 80px;
    margin: 0 auto;
    width: 78px;
    height: 80px;
    display: block;
    margin-top: 59px;
    margin-bottom: 46px;

    @media (min-width: $tablet-width) {
      background-size: 80px 83px;
      width: 80px;
      height: 83px;
      margin: 0;
      margin-top: -14px;
    }


    @media (min-width: $desktop-width) {
      margin: 0;
      margin-left: 41px;
      margin-bottom: 46px;
    }
  }
}
