.additional {
  background-color: #ffffff;
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.additional__item {
  list-style-type: none;
}

.additional__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
}

.additional__mixing {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-align: center;
}

.additional__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #68b738;
  padding: 10px 109px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.additional__promo {
  width: 245px;
  min-height: 288px;
  background-color: rgba(104, 183, 56, 0.85);
}

.additional__select-all {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#present-icon");
    background-repeat: no-repeat;
    background-size: 80px 83px;
    margin: 0 auto;
    width: 80px;
    height: 83px;
    display: block;
  }
}
