.address {
  width: 320px;
  position: relative;
  margin: 0 auto;

  &--catalog {
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;

    &--catalog {
      background-color: none;
    }
  }
}

.address__info-full {
  display: flex;
  margin-left: 20px;

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: #ffffff;
    gap: 87px;
    top: 95px;
    left: 110px;
    width: 565px;
    margin: 0;
  }
}

.address__city-location {
  margin-top: 26px;
  margin-bottom: 26px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    text-align: right;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.address__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    margin-top: 61px;
    margin-bottom: 61px;
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 60px 0 60px 80px;
  }
}

.address__info {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-right: 70px;

    &:not(:last-child) {
      margin-top: 30px;
    }

    &:last-child {
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 163px;
    margin-right: 80px;


    &:not(:last-child) {
      margin-top: 0;
      padding-top: 35px;
    }

    &:last-child {
      margin-top: 20px;
      margin-bottom: 0;
      padding-bottom: 35px;
    }
  }
}

.address__image-mobile {
  background-color: #68b738;
}
