.catalog-products {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }


  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.catalog-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 41px;
  padding-top: 27px;
  padding-left: 20px;
  margin-top: 0;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-left: 30px;
    margin-top: 55px;
    padding: 0;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-top: 64px;
  }
}

.catalog-products__list {
  display: grid;
  grid-template-rows: 209px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-template-rows: 511px 511px 511px 511px;
    grid-template-columns: 324px 324px;
    gap: 60px;
    margin: 84px 30px 0;
  }


  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 511px 511px;
    gap: 63px 80px;
    margin: 84px 110px 0;
  }
}

.catalog-products__item {
  list-style-type: none;
  padding: 20px 20px 0;
  border-top: 1px solid #d9d9d9;

  &:last-child {
    display: grid;
    min-height: 207px;
    border-bottom: 1px solid #c9c9c9;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
    border-top: none;

    &:not(:last-child) {
      padding: 0;
      background: linear-gradient(#ffffff 16%, #f2f2f2 16%);
    }

    &:last-child {
      border: 2px solid #f2f2f2;
      border-radius: 2px;
      min-height: 430px;
      margin-top: 80px;
    }
  }
}

.catalog-products__info-product {
  display: flex;
  width: 280px;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
  }
}

.catalog-products__image {
  width: 140px;
  height: 107px;

  &--small {
    padding: 10px 36px;
  }

  &--big {
    padding: 4px 28px;
  }

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin: 10px 62px 22px;

    &--small {
      padding: 19px 20px;
    }

    &--big {
      padding: 2px 16px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
    margin: 10px 38px 12px;

    &--small {
      padding: 19px 4px;
    }

    &--big {
      padding: 7px 2px;
    }
  }
}

.catalog-products__info {
  @media (min-width: $tablet-width) {
    padding: 0 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px;
  }
}

.catalog-product__icon-plus {
  display: block;
  margin: 2px auto 23px;
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 28px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    margin-top: 26px;
  }
}

.catalog-products__card-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  width: 76px;
  padding-bottom: 16px;
  margin: 0;

  &--choice {
    width: 204px;
    padding-bottom: 5px;
    margin: 0 auto;
  }


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center;
    padding-bottom: 13px;
    margin: 0 auto;

    &--choice {
      line-height: 22px;
      padding-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 16px;

    &--choice {
      padding-bottom: 25px;
    }
  }
}


.catalog-products__list-info {
  padding: 0;
  margin: 0;
}

.catalog-products__card-text {
  list-style-type: none;
  display: flex;
  width: 140px;


  &--choice {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    width: 219px;

    @media (min-width: $tablet-width) {
      padding: 0 40px;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 2px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 249px;

    &:not(.catalog-products__card-text--choice) {
      padding-bottom: 6px;
      padding-top: 5px;
      position: relative;
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    width: 169px;

    &:not(.catalog-products__card-text--choice) {
      padding-bottom: 6px;
      padding-top: 6px;
    }
  }
}

.catalog-products__card-text p {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  &:last-child {
    text-align: right;
    margin-left: auto;
  }
}

.catalog-products__card-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #68b738;
  padding: 10px 110px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 25px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: #5eaa2f;
    outline: none;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 94px;
    margin-left: 37px;
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 55px;
    margin-left: 38px;
  }
}

.catalog-products__card-button-choice {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #f2f2f2;
  padding: 10px 95px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  margin-bottom: 25px;
  margin-top: 20px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: #ebebeb;
    outline: none;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 9px 81px;
    margin: 75px auto 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px;
    margin: 90px auto 38px;
  }
}
