.cover {
  background: linear-gradient(rgba(104, 183, 56, 0.85) 65%, #ffffff 65%);
}

.cover__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.cover__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.cover__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 10px 64px;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
