.footer {
  background-color: #f2f2f2;
  width: 320px;
  margin: 0 auto;
  min-height: 100%;
  display: table-row;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.footer__name {
  padding: 40px 96px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 62px 160px 62px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 72px 416px 62px 110px;
  }
}

.footer__name-link {
  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__list-contacts {
  display: flex;
  justify-content: space-between;
  padding: 20px 74px;
  margin: 0 auto;
  width: 280px;
  min-height: 22px;
  position: relative;

  &::before {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    left: 5px;
    top: 0;
  }

  &::after {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    left: 5px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 63px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: auto o;
    margin-top: 73px;
  }
}

.footer__item-contacts {
  list-style-type: none;
}

.footer__htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 20px;
  text-decoration: none;

  &:focus-visible {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    min-width: 168px;
    margin-left: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 376px;
    margin-right: 110px;
    margin-top: 15px;
  }
}

.footer__htmlacademy-logo {
  fill: #666666;
}

.footer__htmlacademy:hover .footer__htmlacademy-logo,
.footer__htmlacademy:focus-visible .footer__htmlacademy-logo {
  fill: #68b738;
}

.footer__htmlacademy:active .footer__htmlacademy-logo {
  fill: #68b738;
  opacity: 0.3;
}

.footer__htmlacademy-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.footer__link-contacts-icon {
  fill: #666666;
  width: 25px;
  height: 17px;

  &:hover,
  &:focus-visible {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

.footer__link-contacts:hover .footer__link-contacts-icon,
.footer__link-contacts:focus-visible .footer__link-contacts-icon {
  outline: none;
  fill: #68b738;
}

.footer__link-contacts {
  &:focus-visible {
    outline: none;
  }
}

.footer__htmlacademy:active .footer__htmlacademy-text {
  opacity: 0.3;
}
