.header {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;

    &--index::before {
      content: "";
      width: 50%;
      height: 694px;
      background-color: rgba(104, 183, 56, 0.85);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -2;
    }

    &--index::after {
      content: "";
      width: 720px;
      height: 694px;
      position: absolute;
      background-image: url("../../images/cat-cover-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -3;
    }
  }
}

.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  height: 45px;
  margin: 6px auto 8px 20px;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    height: 55px;
    width: 174px;
    margin: 20px auto 0 25px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 65px;
    margin: 49px auto 0 110px;
  }
}

.header__logo {
  display: block;
}

.header__name {
  display: block;
  margin-top: 5px;
}

.nav {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-height: 0;
  }
}

.nav__toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  display: block;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--open .nav__toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 4px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--closed .nav__toggle {
  top: 15px;
  right: 15px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 4px;
    width: 24px;
    height: 1px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .nav--open .nav__list {
    display: none;
  }
}


@media (max-width: $mobile-width-only) {
  .nav--closed .nav__wrapper {
    position: absolute;
    top: 69px;
    right: 0;
  }
}

.nav__list {
  padding: 0;
  margin: 0;
  grid-template-rows: 66px 66px 66px;
  text-align: center;
  min-height: 198px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 28px;
    margin-right: 33px;
    min-height: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-right: 110px;
  }
}

.nav__item {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  list-style-type: none;
  min-height: 66px;
  border-top: 1px solid #e6e6e6;

  &:hover:not(.nav__item--active) {
    opacity: 0.6;
  }

  &:active:not(.nav__item--active) {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 9px 0;
    min-height: 0;

    &:not(:last-child) {
      margin-right: 33px;
    }

    &--active {
      border-bottom: 2px solid #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 20px;
    line-height: 30px;

    &--index:first-child {
      border-bottom: 2px solid #ffffff;
    }

    &:first-child {
      margin-right: 31px;
    }
  }
}

.nav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  padding: 23px 76px;

  &:focus-visible:not(.nav__item--active) {
    opacity: 0.6;
    outline: none;
  }


  &--home {
    padding: 23px 125px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    &--index {
      color: #ffffff;
    }
  }
}
