.how-work {
  background-color: #ffffff;
}

.how-work__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.how-work__item {
  list-style-type: none;
}

.how-work__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
