.offers {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.offers__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-left: 70px;
    margin-top: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 96px auto 72px 110px;
  }
}

.offers__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  width: 280px;
  margin: 32px auto 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    width: 632px;
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
  }
}

.offers__form {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 68px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 344px;
  }
}

.offers__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  height: 56px;
  padding: 13px 60px 13px 13px;
  border: 1px solid #cdcdcd;
  margin: 0 20px 16px;

  @media (min-width: $tablet-width) {
    width: 376px;
    margin: 0;
    padding: 13px 170px 13px 13px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.offers__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  border: none;
  background-color: #68b738;
  padding: 15px 82px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 15px 70px;
    margin: 0;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 15 70px;
  }
}
